openapi: 3.0.1
info:
  title: UniFi Access API
  version: '1.0'
servers:
  - url: https://unifi.localdomain:12445/api/v1/developer
security:
  - token: []
paths:
  /users:
    post:
      tags:
        - User
      summary: 3.2 Create User
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateUserRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUserResponse'
  /users/{id}:
    put:
      tags:
        - User
      summary: 3.3 Update User
      operationId: UpdateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateUserRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUserResponse'
    get:
      tags:
        - User
      summary: 3.4 Fetch User
      operationId: FetchUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: expand
          in: query
          description: "Whether to expand the access_policy field. If true, your app\
            \ must include\n \"expand[]=access_policy\" in the request URL paramters"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUserResponse'
  /users/users:
    get:
      tags:
        - User
      summary: 3.5 Fetch All Users
      operationId: FetchAllUsers
      parameters:
        - name: expand
          in: query
          description: Whether to expand the access_policy field. If true, your app
            must
          schema:
            type: string
        - name: pageNum
          in: query
          description: 'include "expand[]=access_policy" in the request URL paramters


            Current page number in the pagination'
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Number of users per page.
          schema:
            type: integer
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUsersResponse'
  /users/{id}/access_policies:
    put:
      tags:
        - User
      summary: 3.6 Assign Access Policy to User
      operationId: AssignUserAccessPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignUserAccessPolicyRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
    get:
      tags:
        - User
      summary: 3.20 Fetch the Access Policies Assigned to a User
      operationId: FetchUserAccessPolicies
      parameters:
        - name: id
          in: path
          required: true
          description: Identify ID of the user
          schema:
            type: string
        - name: onlyUserPolicies
          in: query
          description: "False: all policies of the group the user belongs to are shown.\n\
            \ True: only the policies assigned directly to the user are shown."
          schema:
            type: boolean
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyAccessPoliciesResponse'
  /users/{id}/nfc_cards:
    put:
      tags:
        - User
      summary: 3.7 Assign NFC Card from User
      operationId: AssignUserNfcCard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignUserNfcCardRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /users/{id}/nfc_cards/delete:
    delete:
      tags:
        - User
      summary: 3.8 Unassign NFC Card from User
      operationId: UnassignUserNfcCard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        # TODO: Body
        - name: body.token
          in: query
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /users/{id}/pin_codes:
    put:
      tags:
        - User
      summary: 3.9 Assign PIN Code to User
      operationId: AssignUserPinCode
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignUserPinCodeRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
    delete:
      tags:
        - User
      summary: 3.10 Unassign PIN Code from user
      operationId: UnassignUserPinCode
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /user_groups:
    post:
      tags:
        - User
      summary: 3.11 Create User Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateUserGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
    get:
      tags:
        - User
      summary: 3.12 Fetch All User Groups
      operationId: FetchAllUserGroups
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUserGroupsResponse'
  /user_groups/{id}:
    get:
      tags:
        - User
      summary: 3.13 Fetch User Group
      operationId: FetchUserGroups
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUserGroupResponse'
    put:
      tags:
        - User
      summary: 3.14 Update User Group
      operationId: UpdateUserGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateUserGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
    delete:
      tags:
        - User
      summary: 3.15 Delete User Group
      operationId: DeleteUserGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /user_groups/{id}/users:
    post:
      tags:
        - User
      summary: 3.16 Assign User to User Group
      operationId: AssignUserToUserGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignUserToUserGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
    get:
      tags:
        - User
      summary: 3.18 Fetch Users in a User Group
      operationId: FetchUsersInUserGroup
      parameters:
        - name: id
          in: path
          required: true
          description: Identify ID of the user group
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUsersResponse'
  /user_groups/{id}/user/delete:
    post:
      tags:
        - User
      summary: 3.17 Uniassigh User from User Group
      operationId: UnassignUserFromUserGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUnassignUserFromUserGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /user_groups/{id}/users/all:
    get:
      tags:
        - User
      summary: 3.19 Fetch All Users in a User Group
      operationId: FetchAllUsersInUserGroup
      parameters:
        - name: id
          in: path
          required: true
          description: Identify ID of the user group
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUsersResponse'
  /user_groups/{id}/access_policies:
    put:
      tags:
        - User
      summary: 3.21 Assign Access Policy to User Group
      operationId: AssignUserGroupAccessPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignUserGroupAccessPolicyRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUserGroupResponse'
    get:
      tags:
        - User
      summary: 3.22 Fetch the Access Policies Assigned to a User Group
      operationId: FetchUserGroupAccessPolicies
      parameters:
        - name: id
          in: path
          required: true
          description: "Identity ID of the user group. Get it from the API,\n /api/v1/developer/user_groups"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyAccessPoliciesResponse'
  /visitors:
    post:
      tags:
        - Visitor
      summary: 4.2 Create a new visitor
      operationId: CreateVisitor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitorCreateVisitorRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorVisitorResponse'
    get:
      tags:
        - Visitor
      summary: 4.4 Fetch all visitors
      operationId: FetchAllVisitors
      parameters:
        - name: status
          in: query
          description: " - UNKNOWN: Note: This is a placeholder, does not exist on\
            \ API.\n - UPCOMING: Upcoming visit\n - VISITED: Completed visit\n - VISITING:\
            \ Currently visiting\n - CANCELLED: Cancelled visit\n - NO_VISIT: No visit\
            \ occurred\n - ACTIVE: Active visit"
          schema:
            type: string
            default: UNKNOWN
            enum:
              - UNKNOWN
              - UPCOMING
              - VISITED
              - VISITING
              - CANCELLED
              - NO_VISIT
              - ACTIVE
        - name: keyword
          in: query
          schema:
            type: string
        - name: pageNum
          in: query
          schema:
            type: integer
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: expand
          in: query
          description: Determine whether to return associated objects,
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorVisitorsResponse'
  /visitors/{id}:
    get:
      tags:
        - Visitor
      summary: 4.3 Fetch visitor details by ID
      operationId: FetchVisitor
      parameters:
        - name: id
          in: path
          required: true
          description: Identify ID of the visitor
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorVisitorResponse'
    put:
      tags:
        - Visitor
      summary: 4.5 Update a visitor by ID
      operationId: UpdateVisitor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitorUpdateVisitorRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorVisitorResponse'
    delete:
      tags:
        - Visitor
      summary: 4.6 Delete a visitor by ID
      operationId: DeleteVisitor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorVisitorResponse'
  /visitors/{id}/nfc_cards:
    put:
      tags:
        - Visitor
      summary: 4.7 Assign Visitor NFC Card
      operationId: AssignVisitorNfcCard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /visitors/{id}/nfc_cards/delete:
    put:
      tags:
        - Visitor
      summary: 4.8 Unassign Visitor NFC Card
      operationId: UnassignVisitorNfcCard
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitorUnassignVisitorNfcCardRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /visitors/{id}/pin_codes:
    put:
      tags:
        - Visitor
      summary: 4.9 Assign Visitor Pin Code
      operationId: AssignVisitorPinCode
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitorAssignVisitorPinCodeRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
    delete:
      tags:
        - Visitor
      summary: 4.10 Unassisgn Visitor Pin Code
      operationId: UnassignVisitorPinCode
      parameters:
        - name: id
          in: path
          required: true
          description: "Identity ID of the visitor.\n Get it from the API, /api/v1/developer/visitors"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedStatusCodeResponse'
  /access_policies:
    post:
      tags:
        - Access Policy
      summary: 5.2 Create Access Policy
      operationId: CreateAccessPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyCreateAccessPolicyRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyAccessPolicyResponse'
    get:
      tags:
        - Access Policy
      summary: 5.6 Fetch All Access Policies
      operationId: FetchAllAccessPolicies
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyAccessPoliciesResponse'
  /access_policies/{id}:
    put:
      tags:
        - Access Policy
      summary: 5.3 Update Access Policy
      operationId: UpdateAccessPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyUpdateAccessPolicyRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyAccessPolicyResponse'
    delete:
      tags:
        - Access Policy
      summary: 5.4 Delete Access Policy
      parameters:
        - name: id
          in: path
          required: true
          description: Identity ID of the access policy.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyAccessPolicyResponse'
    get:
      tags:
        - Access Policy
      summary: 5.5 Fetch Access Policy
      operationId: FetchAccessPolicy
      parameters:
        - name: id
          in: path
          required: true
          description: Identity ID of the access policy.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyAccessPolicyResponse'
  /access_policies/holiday_groups:
    post:
      tags:
        - Access Policy
      summary: 5.8 Create Holiday Group
      operationId: CreateHolidayGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyCreateHolidayGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyHolidayGroupResponse'
    get:
      tags:
        - Access Policy
      summary: 5.12 Fetch All Holiday Groups
      operationId: FetchAllHolidayGroups
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyHolidayGroupSummaryResponse'
  /access_policies/holiday_groups/{id}:
    put:
      tags:
        - Access Policy
      summary: 5.9 Update Holiday Group
      operationId: UpdateHolidayGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyUpdateHolidayGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyHolidayGroupResponse'
    delete:
      tags:
        - Access Policy
      summary: 5.10 Delete Holiday Group
      operationId: DeleteHolidayGroup
      parameters:
        - name: id
          in: path
          required: true
          description: Identity ID of the holiday group.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyHolidayGroupResponse'
    get:
      tags:
        - Access Policy
      summary: 5.11 Fetch Holiday Group
      operationId: FetchHolidayGroup
      parameters:
        - name: id
          in: path
          required: true
          description: Identity ID of the holiday group.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyHolidayGroupResponse'
  /access_policies/schedules:
    post:
      tags:
        - Access Policy
      summary: 5.14 Create Schedule
      operationId: CreateSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyCreateScheduleRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyScheduleResponse'
    get:
      tags:
        - Access Policy
      summary: 5.17 Fetch All Schedules
      operationId: FetchAllSchedules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicySchedulesResponse'
  /access_policies/schedules/{id}:
    put:
      tags:
        - Access Policy
      summary: 5.15 Update Schedule
      operationId: UpdateSchedule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyUpdateScheduleRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyScheduleResponse'
    get:
      tags:
        - Access Policy
      summary: 5.16 Fetch Schedule
      operationId: FetchSchedule
      parameters:
        - name: id
          in: path
          required: true
          description: Identity ID of the schedule.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyScheduleResponse'
    delete:
      tags:
        - Access Policy
      summary: 5.18 Delete Schedule
      operationId: DeleteSchedule
      parameters:
        - name: id
          in: path
          required: true
          description: Identity ID of the schedule.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicyScheduleResponse'
  /credentials/pin_codes:
    post:
      tags:
        - Credential
      summary: 6.1 Generate a PIN Code
      operationId: GeneratePinCode
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialPinCodeResponse'
  /credentials/nfc_cards/sessions:
    post:
      tags:
        - Credential
      summary: 6.2 Enroll NFC Card
      operationId: EnrollNfcCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialEnrollNfcCardRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialNfcCardSessionResponse'
  /credentials/nfc_cards/sessions/{id}:
    get:
      tags:
        - Credential
      summary: 6.3 Fetch NFC Card Enrollment Status
      operationId: FetchNfcCardSessionStatus
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the session
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialNfcCardTokenResponse'
    delete:
      tags:
        - Credential
      summary: 6.4 Remove a Session Created for NFC Card Enrollment
      operationId: RemoveNfcCardSession
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the session.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialNfcCardSessionResponse'
  /credentials/nfc_cards/tokens/{token}:
    get:
      tags:
        - Credential
      summary: 6.7 Fetch NFC Card
      operationId: FetchNfcCard
      parameters:
        - name: token
          in: path
          required: true
          description: Token of the NFC card.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialNfcCardResponse'
    delete:
      tags:
        - Credential
      summary: 6.9 Delete NFC Card
      operationId: DeleteNfcCard
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialNfcCardResponse'
  /credentials/nfc_cards/tokens:
    get:
      tags:
        - Credential
      summary: 6.8 Fetch All NFC Cards
      operationId: FetchAllNfcCards
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialNfcCardsResponse'
  /door_groups/topology:
    get:
      tags:
        - Space
      summary: 7.1 Fetch Door Group Topology
      operationId: FetchDoorGroupTopology
      parameters:
        # TODO: Body
        - name: body.id
          in: query
          schema:
            type: string
        - name: body.type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceResourcesResponse'
  /door_groups:
    post:
      tags:
        - Space
      summary: 7.2 Create Door Group
      operationId: CreateDoorGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreateDoorGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceResourceResponse'
    get:
      tags:
        - Space
      summary: 7.5 Fetch All Door Groups
      operationId: FetchAllDoorGroups
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceResourcesResponse'
  /door_groups/{id}:
    get:
      tags:
        - Space
      summary: 7.3 Fetch Door Group
      operationId: FetchDoorGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceResourceResponse'
    put:
      tags:
        - Space
      summary: 7.4 Update Door Group
      operationId: UpdateDoorGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceUpdateDoorGroupRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceResourceResponse'
    delete:
      tags:
        - Space
      summary: 7.6 Delete Door Group
      operationId: DeleteDoorGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceResourceResponse'
  /doors/{id}:
    get:
      tags:
        - Space
      summary: 7.7 Fetch Door
      operationId: FetchDoor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDoorResponse'
  /doors:
    get:
      tags:
        - Space
      summary: 7.8 Fetch All Doors
      operationId: FetchAllDoors
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDoorsResponse'
  /doors/{id}/unlock:
    put:
      tags:
        - Space
      summary: 7.9 Remote Door Unlocking
      operationId: RemoteDoorUnlocking
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDoorStatusResponse'
  /doors/{id}/lock_rule:
    put:
      tags:
        - Space
      summary: 7.10 Set Temporary Door Locking Rule
      operationId: SetTemporaryDoorLockingRule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceSetTemporaryDoorLockingRuleRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDoorStatusResponse'
    get:
      tags:
        - Space
      summary: 7.11 Fetch Door Locking Rule
      operationId: FetchDoorLockingRule
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        # TODO: Body
        - name: body.type
          in: query
          description: 'enum type {schedule,keep_lock,keep_unlock,custom,lock_early}
            keep_lock is

            used to set the "keep locked" state, while keep_unlock is used to set
            the

            "keep unlocked" state. custom is used to customize the unlock time

            duration. schedule indicates that the door is currently in the unlock

            schedule state. The lock_early is used to terminate doors in an unlock

            schedule early.'
          schema:
            type: string
        - name: body.endedTime
          in: query
          description: 'End time of the set rule, ex: 1708672257'
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDoorLockingRuleResponse'
  /doors/settings/emergency:
    put:
      tags:
        - Space
      summary: 7.12 Set Door Emergency Status
      operationId: SetDoorEmergencyStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceSetDoorEmergencyStatusRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDoorStatusResponse'
    get:
      tags:
        - Space
      summary: 7.13 Fetch Door Emergency Status
      operationId: FetchDoorEmergencyStatus
      parameters:
        # TODO: Body
        - name: body.lockdown
          in: query
          description: True will keep the door locked
          schema:
            type: boolean
        - name: body.evacuation
          in: query
          description: True will keep the door unlocked.
          schema:
            type: boolean
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceDoorEmergencyStatusResponse'
  /devices:
    get:
      tags:
        - Device
      summary: 8.1 Fetch Devices
      operationId: FetchDevices
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDevicesResponse'
  /system/logs:
    get:
      tags:
        - System Log
      summary: 9.2 Fetch System Logs
      operationId: FetchSystemLogs
      parameters:
        - name: pageNum
          in: query
          description: Current page number in the pagination.
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Number of logs per page.
          schema:
            type: integer
        # TODO: Body
        - name: body.topic
          in: query
          schema:
            type: string
        - name: body.since
          in: query
          description: 'Fetch different system logs by topic. enum topic

            {critical,door_openings,updates,device_events,admin_activity,visitor}'
          schema:
            type: integer
            format: int32
        - name: body.until
          in: query
          description: 'Start time for log fetching, ex: 1689304925'
          schema:
            type: integer
            format: int32
        - name: body.actorId
          in: query
          description: "End time for log fetching, ex: 1689804925\n\nIdentity ID of\
            \ the actor (user, visitor, and device), ex:\n 3e1f196e-c97b-4748-aecb-eab5e9c251b2"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemLogFetchSystemLogsResponse'
  /system/logs/export:
    post:
      tags:
        - System Log
      summary: 9.3 Export System Logs
      operationId: ExportSystemLogs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemLogExportSystemLogsRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemLogExportSystemLogsResponse'
  /system/logs/resource/{id}:
    get:
      tags:
        - System Log
      summary: 9.4 Fetch Resources in System Logs
      operationId: FetchResourcesInSystemLogs
      parameters:
        - name: id
          in: path
          required: true
          description: "Resource ID is obtained from targets categorized as the\n\
            \ 'activities_resource' type in system logs. \"target\": [{\"type\":\n\
            \ \"activities_resource\",\"id\": \"0418d6a38f00-b6906057-\n 2a90-4426-835c-b5b172381fec\"\
            ,\"display_name\": \"Resource\",\"alternate_id\":\n \"\",\"alternate_name\"\
            : \"\"}]"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemLogFetchResourcesInSystemLogsResponse'
  /system/static/{path}:
    get:
      tags:
        - System Log
      summary: 9.5 Fetch Static Resources in System Logs
      operationId: FetchStaticResourcesInSystemLogs
      parameters:
        - name: path
          in: path
          description: "Resource paths, currently supporting /avatar, /capture, and\n\
            \ activities_resource."
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemLogFetchStaticResourcesInSystemLogsResponse'
  /users/identity/invitations:
    post:
      tags:
        - UniFi Identity
      summary: 10.1 Send Unifi Identity Invitations
      operationId: SendUnifiIdentityInvitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniFiIdentitySendUnifiIdentityInvitationsRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniFiIdentityInvitationStatusResponse'
  /users/identity/assignments:
    get:
      tags:
        - UniFi Identity
      summary: 10.2 Fetch Available Resources
      operationId: FetchAvailableResources
      parameters:
        - name: resourceType
          in: query
          description: 'Display the type of resources; show all when left blank. enum

            resource_type {ev_station,vpn,wifi} ex: resource_type=ev_station,wifi,vpn'
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniFiIdentityResourcesResponse'
  /users/{id}/identity/assignments:
    post:
      tags:
        - UniFi Identity
      summary: 10.3 Assign Resources to Users
      operationId: AssignUserResources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniFiIdentityAssignUserResourcesRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniFiIdentityResourcesResponse'
    get:
      tags:
        - UniFi Identity
      summary: 10.4 Fetch Resources Assigned to Users
      operationId: FetchUserResources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniFiIdentityResourcesResponse'
  /user_groups/{id}/identity/assignments:
    post:
      tags:
        - UniFi Identity
      summary: 10.5 Assign Resources to User Groups
      operationId: AssignUserGroupResources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniFiIdentityAssignUserGroupResourcesRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniFiIdentityResourcesResponse'
    get:
      tags:
        - UniFi Identity
      summary: 10.6 Fetch the Resources Assigned to User Groups
      operationId: FetchUserGroupResources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniFiIdentityResourcesResponse'
components:
  securitySchemes:
    token:
      type: http
      scheme: bearer
  schemas:
    AccessPolicyAccessPoliciesResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyAccessPolicy'
    AccessPolicyAccessPolicy:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        resources:
          type: array
          items:
            $ref: '#/components/schemas/SharedResource'
        schedule_id:
          type: string
    AccessPolicyAccessPolicyResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/AccessPolicyAccessPolicy'
    AccessPolicyCreateAccessPolicyRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the access policy.
        resource:
          type: array
          description: Used to assign accessible locations to the access policy.
          items:
            $ref: '#/components/schemas/SharedResource'
        schedule_id:
          type: string
          description: Identity ID of the schedule. Assign additional schedules.
    AccessPolicyCreateHolidayGroupRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the holiday group.
        description:
          title: Description of the holiday group
          type: string
        holidays:
          type: array
          description: show a list of the holidays within the holiday group.
          items:
            $ref: '#/components/schemas/AccessPolicyHoliday'
    AccessPolicyCreateScheduleRequest:
      type: object
      properties:
        name:
          type: string
        week_schedule:
          $ref: '#/components/schemas/AccessPolicyWeekSchedule'
        holiday_group_id:
          type: string
        holiday_schedule:
          $ref: '#/components/schemas/AccessPolicyHolidaySchedule'
    AccessPolicyDaySchedule:
      type: object
      properties:
        start_time:
          title: Start time of the access period
          type: string
        end_time:
          title: End time of the access period
          type: string
    AccessPolicyHoliday:
      type: object
      properties:
        description:
          type: string
          description: Description of the holiday.
        id:
          type: string
          description: Identity ID of the holiday.
        name:
          type: string
          description: Name of the holiday.
        repeat:
          type: boolean
          description: Indicate whether the holiday repeats annually.
        start_time:
          title: Start time of the holiday, provided in UTC format
          type: string
        end_time:
          type: string
          description: 'according to RFC3339.


            End time of the holiday, provided in UTC format'
    AccessPolicyHolidayGroup:
      type: object
      properties:
        id:
          title: Identity ID of the holiday group
          type: string
        name:
          type: string
          description: Name of the holiday group.
        is_default:
          type: boolean
          description: Indicate whether the holiday group is the system default.
        description:
          type: string
          description: Description of the holiday group.
        holidays:
          type: array
          description: Show a list of the holidays within the holiday group.
          items:
            $ref: '#/components/schemas/AccessPolicyHoliday'
    AccessPolicyHolidayGroupResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/AccessPolicyHolidayGroup'
    AccessPolicyHolidayGroupSummary:
      type: object
      properties:
        id:
          title: Identity ID of the holiday group
          type: string
        name:
          type: string
          description: Name of the holiday group.
        description:
          type: string
          description: Description of the holiday group.
        count:
          type: integer
          description: Total number of holidays.
          format: int32
    AccessPolicyHolidayGroupSummaryResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyHolidayGroupSummary'
        msg:
          type: string
    AccessPolicyHolidaySchedule:
      type: object
      properties:
        start_time:
          type: string
          format: int64
        end_time:
          type: string
          format: int64
    AccessPolicySchedule:
      type: object
      properties:
        id:
          title: Schedule ID
          type: string
        name:
          title: Name of the schedule
          type: string
        is_default:
          title: Whether system default
          type: boolean
        type:
          title: Type of the schedule (e.g., access)
          type: string
        weekly:
          $ref: '#/components/schemas/AccessPolicyWeekSchedule'
        holiday_schedule:
          type: array
          description: Specify the accessible period during holidays.
          items:
            $ref: '#/components/schemas/AccessPolicyHolidaySchedule'
        holiday_group_id:
          title: Identity ID of the holiday group
          type: string
    AccessPolicyScheduleResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/AccessPolicySchedule'
        msg:
          type: string
    AccessPolicySchedulesResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicySchedule'
        msg:
          type: string
    AccessPolicyUpdateAccessPolicyRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the access policy. Omit if it doesn't need to be updated.
        resource:
          title: Used to assign accessible locations to the access policy. Omit if
            it
          type: array
          items:
            $ref: '#/components/schemas/SharedResource'
        schedule_id:
          type: string
          description: 'doesn''t need to be updated.


            Identify ID of the schedule. Assign additional schedules. Omit this'
    AccessPolicyUpdateHolidayGroupRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the holiday group.
        description:
          title: Description of the holiday group
          type: string
        holidays:
          type: array
          description: show a list of the holidays within the holiday group.
          items:
            $ref: '#/components/schemas/AccessPolicyHoliday'
    AccessPolicyUpdateScheduleRequest:
      type: object
      properties:
        name:
          type: string
        week_schedule:
          $ref: '#/components/schemas/AccessPolicyWeekSchedule'
        holiday_group_id:
          type: string
        holiday_schedule:
          $ref: '#/components/schemas/AccessPolicyHolidaySchedule'
    AccessPolicyWeekSchedule:
      type: object
      properties:
        sunday:
          title: Schedule for Sunday
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyDaySchedule'
        monday:
          title: Schedule for Monday
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyDaySchedule'
        tuesday:
          title: Schedule for Tuesday
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyDaySchedule'
        wednesday:
          title: Schedule for Wednesday
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyDaySchedule'
        thursday:
          title: Schedule for Thursday
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyDaySchedule'
        friday:
          title: Schedule for Friday
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyDaySchedule'
        saturday:
          title: Schedule for Saturday
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyDaySchedule'
    SharedResource:
      type: object
      properties:
        id:
          title: ID of the door group
          type: string
        name:
          title: Name of the door group
          type: string
        type:
          title: Type of the door group
          type: string
    CredentialEnrollNfcCardRequest:
      type: object
      properties:
        device_id:
          title: Identity ID of the device. Get it from the API,
          type: string
        reset_ua_card:
          title: /api/v1/developer/devices
          type: boolean
          description: Option to reset an NFC card already enrolled at another site.
    CredentialNfcCard:
      type: object
      properties:
        token:
          type: string
        display_id:
          type: string
        status:
          title: '"assigned", "pending", "disabled", "deleted", "lost"'
          type: string
        alias:
          type: string
        card_type:
          title: e.g., "ua_card"
          type: string
        user_type:
          title: '"USER" or "VISITOR"'
          type: string
        user:
          $ref: '#/components/schemas/CredentialUser'
    CredentialNfcCardResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/CredentialNfcCard'
        msg:
          type: string
    CredentialNfcCardSession:
      type: object
      properties:
        session_id:
          type: string
    CredentialNfcCardSessionResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/CredentialNfcCardSession'
    CredentialNfcCardToken:
      type: object
      properties:
        card_id:
          type: string
        token:
          type: string
    CredentialNfcCardTokenResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/CredentialNfcCardToken'
    CredentialNfcCardsResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/CredentialNfcCard'
        msg:
          type: string
    CredentialPinCode:
      type: object
      properties:
        token:
          type: string
        created_at:
          type: string
    CredentialPinCodeResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/CredentialPinCode'
    CredentialUser:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        name:
          type: string
    DeviceDevice:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        full_name:
          type: string
    DeviceDevicesResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeviceDevice'
    SpaceCreateDoorGroupRequest:
      type: object
      properties:
        group_name:
          title: Name of the door group. This needs to be globally unique
          type: string
        resources:
          title: Collection of door ID
          type: array
          items:
            $ref: '#/components/schemas/SpaceResource'
    SpaceDoor:
      type: object
      properties:
        id:
          title: Identity ID of the door group
          type: string
        name:
          title: Name of the door
          type: string
        full_name:
          title: Full name of the door
          type: string
        floor_id:
          title: Identity ID of the floor
          type: string
        type:
          title: Type of the door
          type: string
        is_bind_hub:
          title: Indicate whether the door has bound to a hub device. It can only
            be
          type: boolean
        door_lock_relay_status:
          type: string
          description: 'used for remote opening if it''s bound.


            Door lock status. enum door_lock_relay_status {lock,unlock}'
        door_position_status:
          title: 'DPS: Door position status, including both open and close . A null'
          type: string
    SpaceDoorEmergencyStatus:
      type: object
      properties:
        evacuation:
          type: boolean
        lockdown:
          type: boolean
    SpaceDoorEmergencyStatusResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/SpaceDoorEmergencyStatus'
        msg:
          type: string
    SpaceDoorLockingRule:
      type: object
      properties:
        ended_time:
          type: integer
          format: int32
        type:
          type: string
    SpaceDoorLockingRuleResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/SpaceDoorLockingRule'
        msg:
          type: string
    SpaceDoorResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/SpaceDoor'
        msg:
          type: string
    SpaceDoorStatusResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: string
        msg:
          type: string
    SpaceDoorsResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/SpaceDoor'
        msg:
          type: string
    SpaceResource:
      type: object
      properties:
        id:
          title: Identity ID of the door
          type: string
        name:
          title: Name of the door
          type: string
        type:
          title: Type of the door
          type: string
        is_bind_hub:
          type: boolean
          description: Indicate whether the door has bound to a hub device.
    SpaceResourceResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/SpaceResourceTopology'
        msg:
          type: string
    SpaceResourceTopology:
      type: object
      properties:
        id:
          title: Identity ID of the floor
          type: string
        type:
          title: Type of the floor
          type: string
        name:
          title: Name of the floor
          type: string
        resources:
          type: array
          description: Contain all the doors on the floor.
          items:
            $ref: '#/components/schemas/SpaceResource'
    SpaceResourcesResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/SpaceResourceTopology'
        msg:
          type: string
    SpaceSetDoorEmergencyStatusRequest:
      type: object
      properties:
        lockdown:
          title: True will keep the door locked
          type: boolean
        evacuation:
          type: boolean
          description: True will keep the door unlocked.
    SpaceSetTemporaryDoorLockingRuleRequest:
      type: object
      properties:
        type:
          type: string
          description: 'enum type {keep_lock,keep_unlock,custom,reset,lock_early}
            keep_lock is used

            to set the door to the "keep locked" state, while keep_unlock is used
            to

            set it to the "keep unlocked" state. custom allows customization of the

            unlock time duration, and reset is used to restore the door to its initial

            state (not applicable to the "lock_early" state). NOTE: If the door is

            currently on an unlock schedule ( schedule ), you can use lock_early to

            lock the door early.'
        interval:
          title: 'Set the lock time duration (minutes) when type is custom, ex: 10'
          type: integer
          format: int32
    SpaceUpdateDoorGroupRequest:
      type: object
      properties:
        group_name:
          type: string
        resources:
          type: array
          items:
            $ref: '#/components/schemas/SpaceResource'
    SystemLogActor:
      type: object
      properties:
        alternative_id:
          type: string
        alternative_name:
          type: string
        display_name:
          type: string
        id:
          type: string
        type:
          type: string
    SystemLogAuthentication:
      type: object
      properties:
        credential_provider:
          type: string
        issuer:
          type: string
    SystemLogEvent:
      type: object
      properties:
        display_message:
          type: string
        published:
          type: integer
          format: int32
        reason:
          type: string
        result:
          type: string
        type:
          type: string
    SystemLogExportSystemLogsRequest:
      type: object
      properties:
        topic:
          type: string
        since:
          title: 'Fetch different system logs by topic. enum topic

            {critical,door_openings,updates,device_events,admin_activity,visitor}'
          type: integer
          format: int32
        until:
          title: 'Start time for log fetching, ex: 1689304925'
          type: integer
          format: int32
        timezone:
          title: 'End time for log fetching, ex: 1689804925'
          type: string
        actor_id:
          title: 'Timezone for formatting time, ex: America/New_York'
          type: string
          description: "Identity ID of the actor (user, visitor, and device), ex:\n\
            \ 3e1f196e-c97b-4748-aecb-eab5e9c251b2"
    SystemLogExportSystemLogsResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        file:
          title: Exported csv file
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: byte
    SystemLogFetchResourcesInSystemLogsResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/SystemLogResourcesInSystemLog'
    SystemLogFetchStaticResourcesInSystemLogsResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          title: I assume this is an object, but not documented in API
          type: string
    SystemLogFetchSystemLogsResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/SystemLogSystemLogs'
        msg:
          type: string
    SystemLogResourcesInSystemLog:
      type: object
      properties:
        video_record:
          type: string
        video_record_thumbnail:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
    SystemLogSystemLog:
      type: object
      properties:
        timestamp:
          type: string
        _id:
          type: string
        _source:
          $ref: '#/components/schemas/SystemLogSystemLogSource'
        tag:
          type: string
    SystemLogSystemLogSource:
      type: object
      properties:
        actor:
          $ref: '#/components/schemas/SystemLogActor'
        event:
          $ref: '#/components/schemas/SystemLogEvent'
        authentication:
          $ref: '#/components/schemas/SystemLogAuthentication'
        target:
          type: array
          items:
            $ref: '#/components/schemas/SystemLogTarget'
    SystemLogSystemLogs:
      type: object
      properties:
        hits:
          type: array
          items:
            $ref: '#/components/schemas/SystemLogSystemLog'
    SystemLogTarget:
      type: object
      properties:
        alternative_id:
          type: string
        alternative_name:
          type: string
        display_name:
          type: string
        id:
          type: string
        type:
          type: string
    UniFiIdentityAssignUserGroupResourcesRequest:
      type: object
      properties:
        resource_type:
          type: string
        resource_ids:
          type: array
          items:
            $ref: '#/components/schemas/UniFiIdentityResourceId'
    UniFiIdentityAssignUserResourcesRequest:
      type: object
      properties:
        resource_type:
          title: enum resource_type {ev_station,vpn,wifi}
          type: string
        resource_ids:
          type: array
          description: Identity ID of the resources.
          items:
            $ref: '#/components/schemas/UniFiIdentityResourceId'
    UniFiIdentityData:
      type: object
      properties:
        resources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UniFiIdentityResourceList'
    UniFiIdentityInvitation:
      type: object
      properties:
        user_id:
          type: string
        email:
          type: string
    UniFiIdentityInvitationStatus:
      type: object
      properties:
        error_code:
          type: string
        error_msg:
          type: string
        user_email:
          type: string
        user_id:
          type: string
    UniFiIdentityInvitationStatusResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/UniFiIdentityInvitationStatus'
        msg:
          type: string
    UniFiIdentityResource:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        short_name:
          type: string
        deleted:
          type: boolean
        metadata:
          type: string
    UniFiIdentityResourceId:
      type: object
      properties:
        id:
          type: string
    UniFiIdentityResourceList:
      type: object
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/UniFiIdentityResource'
    UniFiIdentityResourcesResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/UniFiIdentityData'
        msg:
          type: string
    UniFiIdentitySendUnifiIdentityInvitationsRequest:
      type: object
      properties:
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/UniFiIdentityInvitation'
    SharedNfcCard:
      type: object
      properties:
        id:
          type: string
        token:
          type: string
    SharedPinCode:
      type: object
      properties:
        token:
          type: string
    SharedStatusCodeResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
    UserAssignUserAccessPolicyRequest:
      type: object
      properties:
        access_policy_ids:
          type: array
          items:
            type: string
    UserAssignUserGroupAccessPolicyRequest:
      type: object
      properties:
        access_policy_ids:
          title: "Identity ID of the access policy. Get it from the API,\n /api/v1/developer/access_policies"
          type: array
          items:
            type: string
    UserAssignUserNfcCardRequest:
      type: object
      properties:
        token:
          title: token of the nfc card
          type: string
        force_add:
          title: determine whether to overwrite an NFC card that has
          type: boolean
    UserAssignUserPinCodeRequest:
      type: object
      properties:
        pin_code:
          type: string
    UserAssignUserToUserGroupRequest:
      type: object
      properties:
        user_id:
          type: array
          description: "Get it from the API, /api/v1/developer/users\n The api documentation\
            \ reads as a method for one user ID, but the repeated\n string implies\
            \ that it may support multiple user IDs at once."
          items:
            type: string
    UserCreateUserGroupRequest:
      type: object
      properties:
        name:
          title: name of the group
          type: string
        up_id:
          title: parent group ID, get from /api/v1/developer/user_groups
          type: string
    UserCreateUserRequest:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        user_email:
          type: string
        employee_number:
          type: string
        onboard_time:
          type: string
          format: int64
    UserStatus:
      type: string
      default: ACTIVE
      enum:
        - ACTIVE
        - PENDING
        - DEACTIVATED
    UserUnassignUserFromUserGroupRequest:
      type: object
      properties:
        user_id:
          type: array
          description: "Get it from the API, /api/v1/developer/users\n The api documentation\
            \ reads as a method for one user ID, but the repeated\n string implies\
            \ that it may support multiple user IDs at once."
          items:
            type: string
    UserUpdateUserGroupRequest:
      type: object
      properties:
        name:
          title: name of the group
          type: string
        up_id:
          title: parent group ID, get from /api/v1/developer/user_groups
          type: string
    UserUpdateUserRequest:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        user_email:
          type: string
        employee_number:
          type: string
        onboard_time:
          type: string
          format: int64
        status:
          $ref: '#/components/schemas/UserStatus'
    UserUser:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        alias:
          type: string
        user_email:
          type: string
        email_status:
          type: string
        phone:
          type: string
        employee_number:
          type: string
        onboard_time:
          type: string
          format: int64
        nfc_cards:
          type: array
          items:
            $ref: '#/components/schemas/SharedNfcCard'
        pin_code:
          $ref: '#/components/schemas/SharedPinCode'
        access_policy_ids:
          type: array
          items:
            type: string
        access_policies:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyAccessPolicy'
        status:
          $ref: '#/components/schemas/UserStatus'
    UserUserGroup:
      type: object
      properties:
        full_name:
          type: string
        id:
          type: string
        name:
          type: string
        up_id:
          type: string
        up_ids:
          type: array
          items:
            type: string
    UserUserGroupResponse:
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/UserUserGroup'
        msg:
          type: string
    UserUserGroupsResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserUserGroup'
        msg:
          type: string
    UserUserResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/UserUser'
    UserUsersResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserUser'
    VisitorAssignVisitorPinCodeRequest:
      type: object
      properties:
        pin_code:
          title: "Generate a PIN code for the visitor to unlock doors.\n Get it from\
            \ the API, /api/v1/developer/pin_codes"
          type: string
    VisitorCreateVisitorRequest:
      type: object
      properties:
        first_name:
          title: First name of the visitors
          type: string
        last_name:
          title: Last name of the visitor
          type: string
        remarks:
          title: Remarks about the visitor
          type: string
        mobile_phone:
          title: Mobile phone number of the visitor
          type: string
        email:
          title: Email address of the visitor
          type: string
        _visitor_company:
          title: Company name of the visitor
          type: string
        start_time:
          title: 'Start time of the visit, ex: 1688546460'
          type: string
          format: int64
        end_time:
          title: 'End time of the visit, ex: 1688572799'
          type: string
          format: int64
        visit_reason:
          type: string
          description: Visit reason, see VisitReason enum.
        resources:
          type: array
          items:
            $ref: '#/components/schemas/SharedResource'
        week_schedule:
          $ref: '#/components/schemas/AccessPolicyWeekSchedule'
    VisitorStatus:
      type: string
      default: UNKNOWN
      enum:
        - UNKNOWN
        - UPCOMING
        - VISITED
        - VISITING
        - CANCELLED
        - NO_VISIT
        - ACTIVE
    VisitorUnassignVisitorNfcCardRequest:
      type: object
      properties:
        token:
          type: string
          description: Token of the NFC Card.
    VisitorUpdateVisitorRequest:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the visitor.
        last_name:
          type: string
          description: Last name of the visitor.
        remarks:
          type: string
          description: Remarks about the visitor.
        mobile_phone:
          type: string
          description: Mobile phone number of the visitor.
        email:
          type: string
          description: Email address of the visitor.
        visitor_company:
          type: string
          description: Company name of the visitor.
        start_time:
          type: integer
          description: Start time of the visit.
          format: int32
        end_time:
          title: End time of the visit,
          type: integer
          format: int32
        visit_reason:
          type: string
          description: Visit reason, see VisitReason enum.
        resources:
          type: array
          items:
            $ref: '#/components/schemas/SharedResource'
        week_schedule:
          $ref: '#/components/schemas/AccessPolicyWeekSchedule'
    VisitorVisitor:
      type: object
      properties:
        id:
          title: Unique ID of the visitor
          type: string
        first_name:
          title: First name of the visitor
          type: string
        last_name:
          title: Last name of the visitor
          type: string
        status:
          $ref: '#/components/schemas/VisitorStatus'
        inviter_id:
          title: ID of the inviter
          type: string
        inviter_name:
          title: Name of the inviter
          type: string
        mobile_phone:
          title: Contact phone number of the visitor
          type: string
        remarks:
          title: Remarks about the visitor
          type: string
        email:
          title: Email address of the visitor
          type: string
        visitor_company:
          title: Company of the visitor
          type: string
        visit_reason:
          title: Visit reason (e.g., Interview, Business)
          type: string
        start_time:
          title: Start time of the visit
          type: string
          format: int64
        end_time:
          title: End time of the visit
          type: string
          format: int64
        nfc_cards:
          title: NFC cards associated with the visitor
          type: array
          items:
            $ref: '#/components/schemas/SharedNfcCard'
        pin_code:
          $ref: '#/components/schemas/SharedPinCode'
        schedule_id:
          title: Schedule ID associated with the visit
          type: string
        schedule:
          $ref: '#/components/schemas/AccessPolicySchedule'
        resources:
          title: Locations that the visitor can access
          type: array
          items:
            $ref: '#/components/schemas/SharedResource'
    VisitorVisitorResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          $ref: '#/components/schemas/VisitorVisitor'
    VisitorVisitorsResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/VisitorVisitor'
